* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

header {
	display: flex;
  width: 90%;
	height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container, .nav-links, .nav-links {
  display: flex;
}

.logo-container {
  flex: 1;
}

.log {
  font-weight: 400;
  margin: 4px;
}

.nav-links {
  flex: 2;
}

.cart {
  flex: 1;
}